* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/clouds.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding: 15px;
  width: 100%; }

header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center; }

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

h1, h3, h4 {
  text-align: center; }

h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px; }

h4 {
  font-size: 1.2rem;
  letter-spacing: 1px; }

.search-container {
  display: flex;
  font-size: 1.4rem; }
  .search-container p {
    margin-left: 20px; }

.searching {
  animation: rotate 1s linear infinite;
  border-radius: 100%;
  border-left: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: 2px solid #ffffff;
  width: 25px;
  height: 25px; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes fadeIn {
  100% {
    opacity: 1; } }
#four-day {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column; }

.forecast-container {
  align-items: center;
  display: flex;
  justify-content: space-around; }

.forecast {
  animation: fadeIn 1.5s forwards;
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 25px;
  width: 250px; }
  .forecast i {
    font-size: 3rem;
    padding: 10px; }

.forecast-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 150%; }

#weather-info {
  padding-bottom: 25px; }

.current-weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1.5s forwards; }
  .current-weather i {
    font-size: 8rem;
    margin: 25px; }
  .current-weather p {
    line-height: 150%; }

.city {
  font-size: 5rem;
  font-weight: 300;
  padding-bottom: 20px; }

.current-container {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center; }

.current-info,
.current-icon {
  padding: 20px; }

.temp {
  font-size: 2rem; }

#weather-location {
  width: 50%; }
  #weather-location input {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    padding: 10px 20px;
    width: 100%; }
  #weather-location input::placeholder {
    color: #ffffff85;
    letter-spacing: 1px; }

@media all and (max-width: 900px) {
  #weather-location {
    width: 100%; } }
@media all and (max-width: 600px) {
  .city {
    font-size: 2.5rem; }

  h3 {
    font-size: 1.6rem; }

  h4 {
    font-size: 1.2rem; } }
@media all and (max-width: 500px) {
  .current-container {
    flex-wrap: wrap; }

  .current-icon {
    padding-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
